* {
    padding: 0;
    margin: 0;
}
.App {
    display: block;
    color: #4d4d4d;
    background-image: url(../img/bgApp.png);
    background-size: 100%;
    width: 600px;
    margin: 20px auto;
    box-shadow: 10px 10px 5px #aaaaaa;
    .title {
        font-size: 40px;
        color: #ffffff;
        text-align: center;
        background-image: url(../img/bgTitle.png);
    }
    .body {
        background: #ffffff;
        border-radius: 20px;
        margin: 30px;
        .Header {
            display: flex;
            padding-top: 15px;
            padding-bottom: 15px;
            img {
                cursor: pointer;
                margin-left: 20px;
                margin-right: 20px;
            }
            input {
                font-size: 20px;
                border: none;
                width: 100%;
                font-weight: 300px;
                &:focus {
                    outline: none;
                }
            }
        }
        .Footer {
            display: flex;
            height: 50px;
            align-items: center;
            border-top: 2px solid #ededed;
            position: relative;
            .totalItem {
                position: absolute;
                left: 25px;
            }
            .filter {
                display: flex;
                left: 140px;
                position: absolute;
                .show {
                    cursor: pointer;
                    margin-right: 20px;
                }
            }
            .clear-complete {
                position: absolute;
                right: 25px;
                cursor: pointer;
            }
        }
    }
    
}