* {
    padding: 0;
    margin: 0;
}
$sizeHeader: 30px;
$sizeText: 14px;
$sizeTitle: 20px;

$url-button: url(../../image/sprite-k14.png);
$bg-button1: rgba(224, 43, 43, 0.9);
$colorPage: #131313;
$colorBox: #222;
$colorTextBox: #838383;
$colortext: #fff;
$colorTitle: #ffcc13;
