@import '../varible.scss';

.Gallery {
    padding: 20px;
    position: relative;
    overflow: hidden;
    .list-group {
        display: flex;
        list-style-type: none;
        .list-item {
            margin-right: 20px;
            display: block;
            text-decoration: none;
            width: 200px;
            img {
                height: 260px;
                width: 200px;
                border-radius: 5px;
            }
        }
    }
    .button {
        position: absolute;
        width: 35px;
        height: 95px;
        z-index: 2;
        top: 110px;
        &-prev {
            background: $url-button -70px -137px no-repeat;
            left: 0px;
            background-color: $bg-button1;
        }
        &-next {
            background: $url-button -115px -137px no-repeat;
            right: 0px;
            background-color: $bg-button1;
        }
    }
}